- content_for :title, 'Request Password Reset'
- content_for :hide_header, true
- content_for :hide_footer, true
- append_javascript_pack_tag('auth')
- append_stylesheet_pack_tag('auth')

.row.justify-content-center.align-content-center.gx-0
  .col-sm-6.col-xl-auto{style: "max-width: 450px;"}
    .card.card-body.rounded-5.p-5.mt-40.no-border
      = simple_form_for(resource, as: resource_name, url: password_path(resource_name)) do |f|
        
        %h2.fw-bolder.fs-4.my-3
          Forgot Your Password?

        .form-group.form-group-forgot-password.position-relative
          = f.label :email, "Email address", class: "text-secondary small"
          .input-group
            .input-group-prepend.position-absolute{style: "z-index: 10; transform: translateY(40%); left: 5%;"}
              %svg{xmlns: "http://www.w3.org/2000/svg", viewBox: "0 0 24 24", width: "20", height: "20", fill: "none", stroke: "currentColor", "stroke-linecap": "round", "stroke-linejoin": "round", "stroke-width": "2"}
                %path{d: "M2 6 L22 6 22 20 2 20 Z M2 6 L12 14 22 6"}
            = f.input :email, label: false, autofocus: true, required: true,
              wrapper_html: { class: "m-0 w-100 form-field" },
              input_html: { class: "bg-white form-control p-2 ps-5 form-field" }
        
        .d-flex.justify-content-center.mt-3
          %button.btn.button-submit-black.shadow-sm.fw-semibold{ type: :submit }
            Send me reset password instructions
            
        %p.text-secondary.fs-6.text-center.p-1.mt-1
          Don't have an account? 
          %span
            = link_to "Sign up here", new_registration_path(resource_name), class: "text-primary text-decoration-underline"
        %p.text-secondary.fs-6.text-center.p-1.mt-1
          = link_to "Back to Login", session_path(resource_name), class: "text-primary text-decoration-underline"