= simple_form_for(@gallery, remote: true) do |f|
  .form-group
    = f.input :title, required: true

  .form-group
    = f.input :description

  .form-group
    = f.input :private, as: :boolean, label: "Private gallery?"

  .form-group
    = f.submit "Create Gallery", class: "btn btn-primary"