%h1 My Galleries

%button.btn.btn-success{
  "type" => "button",
  "data-bs-toggle" => "modal",
  "data-bs-target" => "#newGalleryModal"
}
  New Gallery


-# modal that appears for creating a new gallery
.modal.fade#newGalleryModal{ tabindex: "-1", role: "dialog" }
  .modal-dialog.modal-dialog-centered
    .modal-content
      .modal-header
        %h5.modal-title New Gallery
        %button.btn-close{ "data-bs-dismiss" => "modal" }
      .modal-body
        = simple_form_for(@gallery) do |f|
          .form-group
            = f.input :title, required: true
          .form-group
            = f.input :description
          .form-group
            = f.input :private, as: :boolean, label: "Private gallery?"
          .form-group
            = f.submit "Create Gallery", class: "btn btn-primary"

-# displays all galleries associated with the current user
- @galleries.each do |gallery|
  %div
    %h2= link_to gallery.title, gallery_path(gallery)
    %p= gallery.description
    %p= gallery.private? ? "Private" : "Public"
    = link_to "Delete", gallery_path(gallery), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-sm btn-danger"

- if @galleries.empty?
  %p.text-muted You haven't created any galleries yet.

