%h1= @gallery.title
%p= @gallery.description

- if user_signed_in? && @gallery.user == current_user 
  %button.btn.btn-outline-primary.mt-2{ data: { bs_toggle: "modal", bs_target: "#editGalleryModal" } }
    Edit Gallery
  = link_to "Delete Gallery", gallery_path(@gallery), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger"

%h2 Photos

-# displays all photos as thumbnails - need to change so thumbnails are precomputed 
.row.mt-4
  - if not @photos.blank?
    - @photos.each do |photo|
      .col-md-4.mb-3
        %div{ style: "cursor: pointer;", data: { bs_toggle: "modal", bs_target: "#photoModal-#{photo.id}" } }
          = image_tag photo.image.variant(:thumbnail)

          -# modal for displaying the fullsized image when the thumbnail gets clicked
          %div.modal.fade{id: "photoModal-#{photo.id}", tabindex: "-1", role: "dialog"}
            .modal-dialog.modal-dialog-centered.modal-lg
              .modal-content
                .modal-header
                  %h5.modal-title= photo.image.filename.to_s
                  %button.btn-close{ "data-bs-dismiss" => "modal" }
                .modal-body
                  = image_tag photo.image, class: "img-fluid modal-img"
                  %p.mt-2
                    Uploaded at: 
                    = photo.created_at.strftime("%d %b %Y %H:%M")
        - if @gallery.user == current_user
          = link_to "Delete", gallery_photo_path(@gallery, photo), method: :delete, data: { confirm: "Delete this photo?" }, class: "btn btn-sm btn-outline-danger mt-1"

-# upload for adding new photos
- if user_signed_in? && @gallery.user == current_user
  = simple_form_for [@gallery, Photo.new], html: { multipart: true } do |f|
    = f.input :image, as: :file, required: true
    = f.button :submit, "Upload Photo", class: "btn btn-primary"

-# modal that appears for editing galleries
.modal.fade#editGalleryModal{ tabindex: "-1", role: "dialog" }
  .modal-dialog.modal-dialog-centered
    .modal-content
      .modal-header
        %h5.modal-title Edit Gallery
        %button.btn-close{ "data-bs-dismiss" => "modal" }
      .modal-body
        = simple_form_for(@gallery, url: gallery_path(@gallery), method: :patch, html: { class: "edit-gallery-form" }) do |f|
          = f.input :title
          = f.input :description
          = f.input :private, as: :boolean, label: "Private?"
          = f.submit "Update Gallery", class: "btn btn-primary"