%header.navbar.navbar-expand-lg.bg-light.fixed-top.shadow-sm
  .container-fluid.d-flex.align-items-center.justify-content-between

    // left side - logo and search
    .d-flex.align-items-center.gap-3.flex-grow-1
      = link_to root_path, class: 'navbar-brand d-flex align-items-center gap-2 me-3' do
        = image_pack_tag 'images/Gallery_logo_small_trimmed.png', height: 50

      = form_with url: search_path, method: :get, class: "d-flex flex-grow-1", local: true do |f|
        = f.search_field :query, class: "form-control me-2 rounded-pill", placeholder: "Search galleries..."


    // right side - sign in/up or profile drop down
    .d-flex.align-items-center.gap-3.ms-auto

      - if user_signed_in?
        .dropdown
          %button.btn.btn-dark.dropdown-toggle{ type: "button", id: "userDropdown", data: { bs_toggle: "dropdown" }, aria: { haspopup: "true", expanded: "false" } }
            = current_user.username
          %ul.dropdown-menu.dropdown-menu-end.mt-2.shadow{ aria: { labelledby: "userDropdown" } }
            %li= link_to "My Galleries", galleries_path, class: "dropdown-item"
            // %li= link_to "My Saved", saved_galleries_path, class: "dropdown-item"
            %li
              %hr.dropdown-divider
            %li= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item text-danger"

      - else
        = link_to "Sign Up", new_user_registration_path, class: "sign-up-link"
        = link_to "Log In", new_user_session_path, class: "btn btn-dark"
