!!!
%html{ lang: 'en-GB' }
  %head
    %title Project

    %meta{ :'http-equiv' => "content-type", content: "text/html; charset=utf-8" }
    %meta{ :'http-equiv' => 'X-UA-Compatible', content: 'IE=edge' }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0, shrink-to-fit=no" }

    - if content_for(:description)
      %meta{ content: content_for(:description), name: 'description' }

    %title= ["Project", content_for(:title)].compact.join(' - ')

    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_pack_tag 'styles', media: 'all'
    = javascript_pack_tag 'application', defer: true 

  %body
    = render 'layouts/header'

    %main
      .container-fluid
        - if flash.present?
          .container-fluid.flash-messages
            - flash.each do |message_type, message|
              - next unless message_type == 'alert' || message_type == 'notice'
              .alert{ class: "alert-#{ message_type == 'notice' ? 'success' : 'danger' }" }= message
        = yield
