!!!
%html
  %head
    %title Login
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_pack_tag 'styles', media: 'all'
    = javascript_pack_tag "application"

  %body
    - flash.each do |type, message|
      .alert.alert-dismissible.fade.show{ class: "alert #{flash_class_for(type)} mt-3 mx-3", role: "alert" }
        = message
        %button.btn-close{"data-bs-dismiss" => "alert", "aria-label" => "Close"}

    = yield
